<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layoutFile :: layout ('Admin', ~{::section})}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Section-->
<section>

    <!-- Section-->
    <div class="container pb-5 mb-2" style="padding-top: 20px">
        <!-- Cart Item-->
        <th:block th:each="item : ${items.content}">
            <div class="cart-item d-md-flex justify-content-between"><span class="edit-item" th:onclick="|location.href='@{/item/edit/{itemId}(itemId=${item.id})}'|"><i class="bi bi-pencil-fill"></i></span>
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <th:block th:if="${item.imageResource}">
                            <img class="cart-item-product-thumb" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" th:src="|/file/images/${item.imageResource.serverFileName}|" alt="Product" />
                        </th:block>
                        <th:block th:unless="${item.imageResource}">
                            <img class="cart-item-product-thumb" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Product" />
                        </th:block>
                        <div class="cart-item-product-info">
                            <h4 class="cart-item-product-title" th:text="${item.itemName}">Apple iPhone X 256 GB Space Gray</h4><span><strong>Artist:</strong> <span th:text="${item.artist}">256GB</span></span>
                        </div>
                    </a>
                </div>
                <div class="px-3 my-3 text-center">
                    <div class="cart-item-label">Price</div>
                    <div class="count-input" th:text="${item.price}">
                    </div>
                </div>
                <div class="px-3 my-3 text-center">
                    <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium" th:text="${item.price} - ${item.discountPrice}">$1,450.00</span>
                </div>
                <div class="px-3 my-3 text-center">
                    <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium" th:text="${item.discountPrice}">—</span>
                </div>
            </div>
            <!-- Cart Item-->
        </th:block>

        <!-- Content End -->
        <div class="row pt-3 pb-5 mb-2">
            <div class="col-sm-12 mb-3"><button class="btn btn-outline-dark float-lg-end" type="submit" th:onclick="|location.href='@{/item/add}'|"><i class="bi bi-pencil-fill"></i> Write</button></div>

            <!-- Pages -->
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        <th:block th:if="${items}">
                            <th:block th:with="maxPage=(${#numbers.formatInteger((items.number / 5), 3)} + 1) * 5">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous" th:if="(${maxPage} - 5) > 0" th:href="@{/admin(page=${maxPage}-5)}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#" th:if="(${maxPage} - 4) <= ${items.getTotalPages()}" th:classappend="((${maxPage} - 4) == ${items.number} + 1) ? 'active' : ''" th:text="${maxPage} - 4" th:href="@{/admin(page=${maxPage}-4)}">1</a></li>
                                <li class="page-item"><a class="page-link" href="#" th:if="(${maxPage} - 3) <= ${items.getTotalPages()}" th:classappend="((${maxPage} - 3) == ${items.number} + 1) ? 'active' : ''" th:text="${maxPage} - 3" th:href="@{/admin(page=${maxPage}-3)}">2</a></li>
                                <li class="page-item"><a class="page-link" href="#" th:if="(${maxPage} - 2) <= ${items.getTotalPages()}" th:classappend="((${maxPage} - 2) == ${items.number} + 1) ? 'active' : ''" th:text="${maxPage} - 2" th:href="@{/admin(page=${maxPage}-2)}">3</a></li>
                                <li class="page-item"><a class="page-link" href="#" th:if="(${maxPage} - 1) <= ${items.getTotalPages()}" th:classappend="((${maxPage} - 1) == ${items.number} + 1) ? 'active' : ''" th:text="${maxPage} - 1" th:href="@{/admin(page=${maxPage}-1)}">4</a></li>
                                <li class="page-item"><a class="page-link" href="#" th:if="(${maxPage}) <= ${items.getTotalPages()}" th:classappend="((${maxPage}) == ${items.number} + 1) ? 'active' : ''" th:text="${maxPage}" th:href="@{/admin(page=${maxPage})}">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next" th:if="(${maxPage} + 1) <= ${items.getTotalPages()}" th:href="@{/admin(page=${maxPage}+1)}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </th:block>
                        </th:block>

                    </ul>
                </nav>
            </div>
            <!-- Pages End -->
        </div>

    </div>
</section>
</body>
</html>