<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section th:fragment="header (title)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!" th:href="@{/}">JPOP  <i class="bi bi-music-note-beamed"></i> Mall</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="#!" th:href="@{/}" th:classappend="${title} == 'Home' ? 'active' : ''">Home</a></li>
                    <th:block th:if="${loginMember}">
                        <li class="nav-item"><a class="nav-link" href="#!" th:href="@{/member/items}" th:classappend="${title} == 'Items' ? 'active' : ''">Items</a></li>
                    </th:block>
                    <th:block th:unless="${loginMember}">
                        <li class="nav-item"><a class="nav-link" href="#!" th:href="@{/auth/login}" th:classappend="${title} == 'Login' ? 'active' : ''">Login</a></li>
                    </th:block>
                    <th:block th:if="${loginMember}">
                        <li class="nav-item"><a class="nav-link" href="#!" th:href="@{/auth/logout}" th:classappend="${title} == 'Logout' ? 'active' : ''">Logout</a></li>
                    </th:block>
                    <li class="nav-item"><a class="nav-link" href="#!" th:classappend="${title} == 'About' ? 'active' : ''">About</a></li>
                    <!--Admin Page-->
                    <th:block th:if="${loginMember}">
                        <th:block th:if="${loginMember?.getMemberRole().toString()=='ADMIN'}">
                            <li class="nav-item"><a class="nav-link" href="#!" th:href="@{/admin}" th:classappend="${title} == 'Admin' ? 'active' : ''">Admin</a></li>
                        </th:block>
                    </th:block>
                    <!--Admin Page-->
                </ul>
                <th:block th:if="${loginMember}">
                    <form class="d-flex" style="padding-right: 13px">
                        <div th:text="${loginMember.name}"></div>
                    </form>
                </th:block>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <!--banner-->
    <img src="/images/banner.png" id="banner_img" alt="" style="width: 100%; height: 100%">

    <header class="bg-dark py-5" id="banner_text">

        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">
                    Anime Mall</h1>
                <p class="lead fw-normal text-white-50 mb-0">Github : github.com/baskduf</p>
            </div>
        </div>
    </header>
    <!--banner-->

</section>
</html>